#resetButton {
  display: block;
  margin: 50px auto;
  padding: 20px;
  font-size: 10em;
}

.container {
  display: grid;
  width: 80%;
  margin: 0 auto;
}

.cell {
  padding-bottom: 100%;
  border: 1px solid black;
}
