#resetButton {
  display: block;
  margin: 2vmin auto 3vmin auto;
  padding: 2vmin;
  font-size: 2vmin;
}

.container {
  display: grid;
  width: 80%;
  max-width: 80vmin;
  margin: 0 auto;
}

.cell {
  padding-bottom: 100%;
  border: 1px solid black;
}
